<div class="main">
    <div class="col">
        <div class="row1">
            <div class="head">
                <h2>GYM LOCATION AND TIME</h2>
            </div>
        </div>
        <div class="row2">
            <div class="img">
                <img [src]="imgUrl" alt="">
            </div>
        </div>
        <div class="row3">
            <div class="loc">
                <img [src]="imgUr" alt="">
                <h2>143 Av. Marrakech, Tétouan 93030</h2>
            </div>
        </div>
    </div>
</div>
<div class="row3">
    <div class="loc">
        <img [src]="imgU" alt="">
        <h2>10:00 AM - 12:00 PM</h2>
    </div>
</div>
